.message{
	font-size: small;
	color: white;
	background-color: gray;
}

#message-box{
	overflow: auto;
	max-height: 300px;
	background-color: goldenrod;
}

@media only screen and (max-width: 600px){
	#chat-box{
		width: 95vw;
	}
}

@media only screen and (min-width: 600px){
	#chat-box{
		width: 80vw;
	}
}