{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
    <p>
        Add some cash to your account. <br> Use '.' for indicating cents.
    </p>
    <form action="/add_cash" method="post">
        <input id="text" name="text" type="text" class="form-control" placeholder="Add cash" style="margin-bottom: 10px;"><br>
        <input id="button" type="submit" class="btn btn-primary" value="Add" disabled>
    </form>

    <script>
        text.onkeyup = function(){
            let button = document.querySelector('#button');
            let text = document.querySelector('#text');

            if (text.value != "" && !isNaN(text.value) && parseInt(text.value) > 0){
                button.disabled = false;
            }else{
                button.disabled = true;
            }
        }
    </script>
{% endblock %}