{% extends "layout.html" %}

{% block head %}
    Buy
{% endblock %}

{% block main %}
    {% if found == False %}
        <div class="alert alert-danger">You do not have enough money!</div>
    {% endif %}

    <form action="/buy" method="post">
        <input type="text" name="symbol" placeholder="Enter symbol" class="form-control">
        <input type="text" name="shares" placeholder="Enter number of Shares" class="form-control" id="shares"><br><br>
        <input type="submit" value="Buy" class="btn btn-primary" id="button" disabled>
    </form>

    <script>
        document.querySelector('#shares').onkeyup = function(){
            var value = document.querySelector('#shares').value;
            if (value != "" && !isNaN(value) && parseInt(value) > 0 && !value.includes('.') && !value.includes(','))
            {
                document.querySelector('#button').disabled = false;
            }
            else
            {
                document.querySelector('#button').disabled = true;
            }
        };
    </script>
{% endblock %}