{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in stocks %}
            {% if row['shares'] > 0 %}
                {% if row['name'] != 'CASH' %}
                    <tr class="list-group-item-success">
                {% endif %}
                {% if row['name'] == 'CASH' %}
                    <tr class="list-group-item-dark">
                {% endif %}
            {% endif %}
            {% if row['shares'] < 0 %}
                <tr class="list-group-item-danger">
            {% endif %}

                    {% if row['shares'] < 0 %}
                        <td>SOLD</td>
                    {% endif %}
                    {% if row['shares'] > 0 %}
                        {% if row['name'] == 'CASH' %}
                            <td>ADDED</td>
                        {% endif %}
                        {% if row['name'] != 'CASH' %}
                            <td>BOUGHT</td>
                        {% endif %}

                    {% endif %}
                    <td>{{ row['quote'] }}</td>
                    <td>{{ row['name'] }}</td>

                    {% if row['shares'] < 0 %}
                        <td>{{ -row['shares'] }}</td>
                    {% endif %}
                    {% if row['shares'] > 0 %}
                        {% if row['name'] != 'CASH' %}
                            <td>{{ row['shares'] }}</td>
                        {% endif %}
                        {% if row['name'] == 'CASH' %}
                            <td></td>
                        {% endif %}
                    {% endif %}

                    <td>{{ row['price'] }}</td>
                    <td>{{ row['date'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>




{% endblock %}