{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block meta %}
    <style>
        .card, .card-deck{
            /*min-width: 80%;
            max-width: 80%;*/
            display: inline-block;
        }

        #button-inbox:hover, #button-send:hover{
            background-color: white;
            color: green;
        }
    </style>
{% endblock %}

{% block main %}
    {% if state == 1 %}
    <div class="alert alert-danger">Recipient not found.</div>
    {% endif %}
    {% if state == 2 %}
    <div class="alert alert-success">Mail sent.</div>
    {% endif %}

    {% if new_mail %}
        <div class="card-deck" id="list" style="margin-right: 0px;">
            <!-- user sees a reference to his inbox -->
            <div class="card text-white bg-success" style="width: 25rem; text-align: center; margin-top: 15px; margin-right: 0px;">
                <div class="card-body">
                    <h5 class="card-title">
                        <svg width="1em" height="1em" style="margin-bottom: 5px; margin-right: 5px;" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                        </svg>
                        New messages
                    </h5>
                    <p class="card-text">You have unread messages.</p>
                    <a href="/inbox"><button class="btn btn-outline-light" id="button-inbox">Go to inbox</button></a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if not new_mail %}
        <div class="card-deck" id="list" style="margin-right: 0px;">
            <!-- user sees a reference to his inbox -->
            <div class="card bg-light" style="width: 25rem; text-align: center; margin-top: 15px; margin-right: 0px;">
                <div class="card-body">
                    <h5 class="card-title">
                        <svg width="1em" height="1em" style="margin-bottom: 5px; margin-right: 5px" viewBox="0 0 16 16" class="bi bi-envelope-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.818l5.724 3.465L8 8.917l1.276.766L15 6.218V5.4a1 1 0 0 0-.53-.882l-6-3.2zM15 7.388l-4.754 2.877L15 13.117v-5.73zm-.035 6.874L8 10.083l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738zM1 13.117l4.754-2.852L1 7.387v5.73zM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2z"/>
                        </svg>
                        You have no new messages.
                    </h5>
                    <a href="/inbox"><button class="btn btn-success" id="button-inbox">Go to inbox</button></a>
                    <a href="/send"><button class="btn btn-success" id="button-send">Send a new message</button></a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}