{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    {% if error %}
        <div class="alert alert-danger">Wrong username and/or password</div>
    {% endif %}

    <form action="/login" method="post">
        <div class="form-group">
            <input id="username" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input id="password" class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button id="button" class="btn btn-primary" type="submit" disabled>Log In</button>
    </form>

    <script>
        var username = document.querySelector('#username');
        var password = document.querySelector('#password');
        var button = document.querySelector('#button');

        username.onkeyup = f;
        password.onkeyup = f;

        function f(){
            if (username.value == "" || password.value == ""){
                document.querySelector('#button').disabled = true;
            }else{
                document.querySelector('#button').disabled = false;
            }
        }
    </script>
{% endblock %}
