{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    {% if error %}
        <div class="alert alert-danger">Wrong username and/or password</div>
    {% endif %}

    <form action="/login" method="post">
        <div class="form-group">
            <input id="l-username" autocomplete="off" autofocus class="form-control" name="l-username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input id="l-password" class="form-control" name="l-password" placeholder="Password" type="password">
        </div>
        <button id="l-button" class="btn btn-primary" type="submit" disabled>Log In</button>
    </form>

    <script>
        var username = document.querySelector('#l-username');
        var password = document.querySelector('#l-password');
        var button = document.querySelector('#l-button');

        username.onkeyup = f;
        password.onkeyup = f;

        function f(){
            if (username.value == "" || password.value == ""){
                document.querySelector('#l-button').disabled = true;
            }else{
                document.querySelector('#l-button').disabled = false;
            }
        }
    </script>
{% endblock %}
