{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <input id="username" type="text" name="username" placeholder="Username" class="form-control" style="margin-bottom:10px;"><br>
        <input id="password" type="password" name="password" placeholder="Password" class="form-control" style="margin-bottom:10px;"><br>
        <input id="confirmation" type="password" name="confirmation" placeholder="Repeat Password" class="form-control" style="margin-bottom:10px;"><br>
        <p id="error1" style="color: red; font-size: small;"></p>
        <p id="error2" style="color: red; font-size: small;"></p>
        <p style="font-size: small;">
            Password must contain <br>
                <span style="font-size: x-small;">
                <span id="length">&#8226; at least 6 characters.</span> <br>
                <span id="lower">&#8226; at least 1 one lowercase letter.</span> <br>
                <psan id="upper">&#8226; at least 1 uppercase letter.</psan> <br>
                <span id="digit">&#8226; at least 1 digit.</span> </span>
        </p>
        <input id="button" type="submit" value="Register" class="btn btn-primary" disabled>
    </form>


    <script>
        // add some password requirements
        document.querySelector('#password').onkeyup = f;
        document.querySelector('#confirmation').onkeyup = f;

        function f(){
            var password = document.querySelector('#password').value;
            var n_password = document.querySelector('#confirmation').value;
            var username = document.querySelector('#username').value;
            var button = document.querySelector('#button');

            button.disabled = true;

            if (password == "" || n_password == "" || username == ""){
                button.disabled = true;
            }else{
                button.disabled = false;
            }

            if (n_password != password && n_password != "" && password != ""){
                button.disabled = true;
                document.querySelector('#confirmation').classList.add("bg-danger");
                document.querySelector('#confirmation').classList.add("text-white");
                document.querySelector("#error1").innerHTML = "Passwords must be the same";
            }else{
                document.querySelector('#confirmation').classList.remove("bg-danger");
                document.querySelector('#confirmation').classList.remove("text-white");
                document.querySelector("#error1").innerHTML = "";
            }

            // check for requirements
            requirements = check_for_requirements(password);
            if (requirements[0]){
                button.disabled = false;
                document.querySelector('#password').classList.remove("bg-danger");
                document.querySelector('#password').classList.remove("text-white");
                document.querySelector("#error2").innerHTML = "";

                document.querySelector('#length').style.color = "black";
                document.querySelector('#digit').style.color = "black";
                document.querySelector('#lower').style.color = "black";
                document.querySelector('#upper').style.color = "black";
            }else{
                document.querySelector('#password').classList.add("bg-danger");
                document.querySelector('#password').classList.add("text-white");
                document.querySelector("#error2").innerHTML = "Password does not meet the requirements";
                button.disabled = true;

                // lower case missing
                if (!requirements[1]){
                    document.querySelector('#lower').style.color = "red";
                }else{
                    document.querySelector('#lower').style.color = "black";
                }

                // upper case missing
                if (!requirements[2]){
                    document.querySelector('#upper').style.color = "red";
                }else{
                    document.querySelector('#upper').style.color = "black";
                }

                // digit case missing
                if (!requirements[3]){
                    document.querySelector('#digit').style.color = "red";
                }else{
                    document.querySelector('#digit').style.color = "black";
                }

                // length too short
                if (!requirements[4]){
                    document.querySelector('#length').style.color = "red";
                }else{
                    document.querySelector('#length').style.color = "black";
                }
            }
            if (n_password !== password){
                document.querySelector('#button').disabled = true;
            }
        }

        function check_for_requirements(str){
            return [(lower(str) && upper(str) && digit(str) && length(str)), lower(str), upper(str), digit(str), length(str)];
        }

        function lower(str){
            for (i = 0; i < str.length; i++){
                if (str[i] <= 'z' && str[i] >= 'a' && str[i] != '\n'){
                    return true;
                }
            }
            return false;
        }

        function upper(str){
            for (i = 0; i < str.length; i++){
                if (str[i] <= 'Z' && str[i] >= 'A'){
                    return true;
                }
            }
            return false;
        }

        function length(str){
            if (str.length >= 6){
                return true;
            }
            return false;
        }

        function digit(str){
            for (i = 0; i < str.length; i++){
                if (parseInt(str[i])){
                    return true;
                }
            }
            return false;
        }
    </script>
{% endblock %}