{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol" class="form-control" id="selector">
            {% for option in stocks %}
                <option>{{ option }}</option>
            {% endfor %}
        </select>
        <input id="shares-input" type="text" name="shares" placeholder="Number of stocks" class="form-control"><br><br>
        <input type="submit" value="Sell" class="btn btn-primary" id="button" disabled>
    </form>
    <script>
        document.querySelector('#shares-input').onkeyup = function(){
            var value = document.querySelector('#shares-input').value;
            if (value != "" && !isNaN(value) && parseInt(value) > 0 && !value.includes('.') && !value.includes(','))
            {
                document.querySelector('#button').disabled = false;
            }
            else
            {
                document.querySelector('#button').disabled = true;
            }
        };
    </script>

{% endblock %}