{% extends 'layout.html' %}
{% block title %}
    New Mail
{% endblock %}

{% block main %}
    <p style="color: white;">Send a text message to another user.</p>

    <form action="/send" method="post" style="margin-bottom: 15px; background-color: rgb(62, 90, 124);">
        <div class="container" id="form" style="display: inline-block; width: 50%;">
            <div class="row">
                <div class="col-sm">
                    <input type="text" name="recipient" id="recipient" placeholder="Recipient" class="form-control" style="margin-bottom: 15px; border: 0; text-align: left;" autocomplete="off"><br>
                    <input type="text" name="subject" id="subject" placeholder="Subject" class="form-control" style="margin-bottom: 15px; border: 0; text-align: left;" autocomplete="off"><br>
                </div>
                <div class="col-sm">
                    <input type="submit" value="Send" id="send-button" class="btn btn-light text-center" disabled>
                </div>
            </div>
        </div>
        <textarea rows="13" name="message" id="message" class="form-control" aria-label="With textarea"></textarea><br>
    </form>

    <style>
        #send-button{
            margin-top: 10%;
            margin-left: 0%;
            float: left;
        }

        #message{
            min-width: 50%;
            height: 70%;
            min-height:60%;
            resize: none;
        }
        #recipient, #subject{
            /*min-width: 40%;
            max-width: 40%;*/
            text-align: center;
        }
        input, #message{
            background-color: white;
            color: black;
        }
        .row, .col-sm{
            padding: 0;
        }
    </style>

    <script>
        let recipient = document.querySelector('#recipient');
        let subject = document.querySelector('#subject');
        let message = document.querySelector('#message');

        recipient.onkeyup = f;
        subject.onkeyup = f;
        message.onkeyup = f;

        function f(){
            let recipient = document.querySelector('#recipient');
            let subject = document.querySelector('#subject');
            let message = document.querySelector('#message');

            if (recipient.value == "" || subject.value == "" || message.value == ""){
                document.querySelector('#send-button').disabled = true;
            }else{
                document.querySelector('#send-button').disabled = false;
            }
        }  

        var url_string = window.location.href; //window.location.href
        var url = new URL(url_string);
        var asw = url.searchParams.get("asw");
        if (asw != "" && asw != null){
            recipient.value = asw;
        }
        var sj = url.searchParams.get("sj");
        if (sj != "" && sj != null){
            subject.value = "AW: " + sj;
        }
    </script>
    
{% endblock %}