{% extends 'layout.html' %}
{% block title %}
    New Mail
{% endblock %}

{% block main %}
    <p style="color: white;">Send a text message to another user.</p>

    <form action="/send" method="post" style="margin-bottom: 15px; background-color: rgb(62, 90, 124);">
        <input type="text" name="recipient" id="recipient" placeholder="Recipient" class="control-from form-control-lg" style="margin-bottom: 15px;" autocomplete="off"><br>
        <input type="text" name="subject" id="subject" placeholder="Subject" class="control-from" style="margin-bottom: 15px;" autocomplete="off"><br>
        <textarea rows="10" name="message" id="message" class="form-control" aria-label="With textarea"></textarea><br>
        <input type="submit" value="Send" id="send-button" class="btn btn-light" disabled>
    </form>

    <style>
        #message{
            min-width: 50%;
            height: 60%;
            min-height:60%;
            resize: none;
        }
        #recipient, #subject{
            min-width: 40%;
            max-width: 40%;
            text-align: center;
        }
        input, #message{
            background-color: white;
            color: black;
        }
    </style>

    <script>
        let recipient = document.querySelector('#recipient');
        let subject = document.querySelector('#subject');
        let message = document.querySelector('#message');

        recipient.onkeyup = f;
        subject.onkeyup = f;
        message.onkeyup = f;

        function f(){
            let recipient = document.querySelector('#recipient');
            let subject = document.querySelector('#subject');
            let message = document.querySelector('#message');

            if (recipient.value == "" || subject.value == "" || message.value == ""){
                document.querySelector('#send-button').disabled = true;
            }else{
                document.querySelector('#send-button').disabled = false;
            }
        }
        
    </script>
    
{% endblock %}